footer {
    display: flex;
    justify-content: center;
}

#seccion__creditos {
    padding-bottom: 2rem;
    font-size: 1rem;
}

#seccion__creditos a {
    text-decoration: none;
    cursor: pointer;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#seccion__creditos a:hover {
    box-shadow: inset 20rem 0 0 0 var(--color_azul-oscuro);
    color: white;
}
