.ocultar {
    display: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Inter", sans-serif;
}

/* HEADER */
#logo-alura {
    position: absolute;
    top: 40px;
    left: 40px;
}

/******************* MAIN **************************/
button {
    padding: 24px;
    border-radius: 24px;
    border: 1px;
}

textarea {
    border: none;
    outline: none;
}

/* SECCION MENU INICIO */
#seccion-menu-inicio {
    height: 100%;
    width: 100%;
}
#contenedor-botones-menu-inicio {
    height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 36px;

    vertical-align: center;
    justify-content: center;
    align-items: center;
}

#boton-iniciar-juego {
    width: 317px;
    height: 114px;
    background: #0A3871;
    color: white;
}


#boton-menu-agregar-nueva-palabra {
    width: 280px;
    height: 67px;
    background: white;

    color: #0A3871;
    border-color: #0A3871;
    border-style: solid;
}

/* SECCION TABLERO DE JUEGO*/
#seccion-tablero-juego {
    height: 100%;
    width: 100%;
}

#contenedor-tablero-juego {
    height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 36px;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
}

#contenedor-horca {
    height: 360px;
    width: 300px;

    background: none;
    margin: 0 auto;
}

.linea-horca {
    position: relative;
    background: #0A3871;
    border-radius: 8px;
}

#contenedor-letras {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#contenedor-letras-palabra-secreta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 0;
    gap: 16px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.letra-palabra-secreta {
    width: 80px;
    height: 72px;

    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;

    text-align: center;

    color: #0A3871;
}

.raya-letra-palabra-secreta {
    width: 80px;
    height: 4px;

    background: #0A3871;
    border-radius: 8px;
}

#contenedor-letras-incorrectas {
    height: 36px;
    max-height: 36px;
    max-width: 256px;

    margin: 0 auto;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    padding: 0;
    gap: 24px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.letra-incorrecta {
    resize: none;
    overflow: hidden;

    width: 16px;
    height: 36px;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;

    text-align: center;

    color: #495057;
}

#contenedor-botones-tablero-juego {
    width: 688px;
    height: 67px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 0;
    gap: 24px;

    margin-left: auto;
    margin-right: auto;
}

#boton-nuevo-juego {
    background: #0A3871;
    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 1;
}

#boton-desistir {
    color: #0A3871;
    border-color: #0A3871;
    border-style: solid;

    flex: none;
    order: 1;
    flex-grow: 1;
}

/* SECCION MENU AGREGAR PALABRA */

#seccion-agregar-palabra {
    width: 100%;
    height: 100%;
}

#form-agregar-palabra {
    width: 688px;
    height: 800px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    align-items: flex-start;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
}

#area-texto-agregar-palabra {
    width: 400px;

    border: 0 solid;
    padding: 0;

    background: transparent none;

    font-family: Inter, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

    color: #0A3871;
}

#area-texto-agregar-palabra::placeholder {
    color: #0A3871;

}

#input-texto-agregar-palabra:focus {
    outline: none;
}

#contenedor-contrato-nueva-palabra {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0;

    width: 115px;
    height: 18px;
}

#contenedor-contrato-nueva-palabra #circulo-exclamacion {
    width: 18px;
    height: 18px;
    padding: 1px;

    flex: none;
    order: 0;
}

#contenedor-contrato-nueva-palabra #contrato-texto-introducido {
    opacity: 0.8;

    flex: none;
    order: 1;
    flex-grow: 0;
}

#contenedor-botones-agregar-palabra {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
}

.mensaje-palabra-agregada {
    color: #0A3871;
    opacity: 80%;
}

#boton-guardar-nueva-palabra {
    width: 332px;
    background: #0A3871;
    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 1;
}

#boton-volver-al-menu-inicio {
    width: 332px;
    color: #0A3871;
    border-color: #0A3871;
    border-style: solid;

    flex: none;
    order: 1;
    flex-grow: 1;
}


/* FOOTER */
#seccion-copyright {
    position: absolute;
    bottom: 2.5%;
    font-size: 13px;
    margin: 20px;
}